*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body,
html,
main{
    height: 100%;
}

h1, .h1
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    line-height: 1.2;
    font-weight: 600!important;
}

.bg-center{
    background-position: center;
}

.bg-cover{
    background-size: cover;
}

.object-fit{
    overflow: hidden;
    position: relative;
}

.object-fit img{
    display: block;
    height: auto;
    width: 100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    bottom: -9999px;
    left: -9999px;
    position: absolute;
    right: -9999px;
    top: -9999px;
    -o-object-fit: cover;
    object-fit: cover;
}

.d-table{
    width: 100%;
    display: table;
}

.d-table-cell{
    display: table-cell;
    vertical-align: middle;
}

.g-linear-90-primary{
    background: rgb(13,51,87);
    background: -moz-linear-gradient(90deg, rgba(13,51,87,1) 0%, rgba(0,212,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(13,51,87,1) 0%, rgba(0,212,255,0) 100%);
    background: linear-gradient(90deg, rgba(13,51,87,1) 0%, rgba(0,212,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d3357",endColorstr="#00d4ff",GradientType=1);
}

.m-0{
    margin: 0!important;
}

.mb-0{
    margin-bottom: 0!important
}

.my-10{
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.p-10{
    padding: 10px!important;
}

.ul-reset{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: table;
    width: 100%;
}

.banner .container{
    position: relative;
}

.banner .container .col-md-6:first-of-type{
    position: absolute;
    height: 100%;

}

.banner{
    height: 500px;
    background-color: #0d3357;
    color: white;
}

.banner-bg-gradient{
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner-logo {
    width: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    top: 0;
}

.list-channel li{
    width: 20%;
    float: left;
    position: relative;
    padding: 10px;
}

.list-channel .list-channel-thumb{
    background-color: #0d3357;
    position: relative;
    padding-top: 70%;
    border-radius: 15px;
}

.list-channel .list-channel-thumb img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 50px;
}

@media screen and (max-width: 991px){

}
