*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body,
html,
main{
    height: 100%;
}

h1, .h1
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    line-height: 1.2;
    font-weight: 600!important;
}

.bg-center{
    background-position: center;
}

.bg-cover{
    background-size: cover;
}

.object-fit{
    overflow: hidden;
    position: relative;
}

.object-fit img{
    display: block;
    height: auto;
    width: 100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    bottom: -9999px;
    left: -9999px;
    position: absolute;
    right: -9999px;
    top: -9999px;
    -o-object-fit: cover;
    object-fit: cover;
}

.d-table{
    width: 100%;
    display: table;
}

.d-table-cell{
    display: table-cell;
    vertical-align: middle;
}

.g-linear-90-primary{
    background: rgb(13,51,87);
    background: -moz-linear-gradient(90deg, rgba(13,51,87,1) 0%, rgba(0,212,255,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(13,51,87,1) 0%, rgba(0,212,255,0) 100%);
    background: linear-gradient(90deg, rgba(13,51,87,1) 0%, rgba(0,212,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d3357",endColorstr="#00d4ff",GradientType=1);
}

.m-0{
    margin: 0!important;
}

.mb-0{
    margin-bottom: 0!important
}

.my-10{
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.p-10{
    padding: 10px!important;
}

.ul-reset{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: table;
    width: 100%;
}

.btn{
    font-size: 35px!important;
    padding: 20px 50px!important;
    margin: 10px 0;
}

.btn-hasicon .btn-label{
    background-position: left center;
    background-size: 40px;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.btn-primary{
    background-color: transparent;
    border: none!important;
    background: rgb(0,65,129)!important;
    background: -moz-linear-gradient(0deg, rgba(0,65,129,1) 0%, rgba(0,88,211,1) 100%)!important;
    background: -webkit-linear-gradient(0deg, rgba(0,65,129,1) 0%, rgba(0,88,211,1) 100%)!important;
    background: linear-gradient(0deg, rgba(0,65,129,1) 0%, rgba(0,88,211,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004181",endColorstr="#0058d3",GradientType=1)!important;
}

.banner .container{
    position: relative;
}

.banner-thumb-nav,
.banner,
.list-channel .list-channel-thumb{
    background-color: #0d3357;
}

.list-channel button{
    width: 100%;
    padding: 0;
    background-color: transparent;
    border-radius: 20px;
    overflow: hidden;
}

.list-channel.is-light button{
    border: 1px solid #dcdcdc;
}

.list-channel button{
    border: 5px solid transparent;
}

.banner.is-light button{
    width: 100%;
    border: 5px solid transparent;
    background-color: transparent;
    border-radius: 15px;
    padding: 0;
    overflow: hidden;
}

.list-channel button:hover,
.list-channel button:active,
.list-channel button:focus,
.banner.is-light button:hover,
.banner.is-light button:active,
.banner.is-light button:focus{
    border: 5px solid #2196f3!important;
}

.list-channel.is-light button:hover,
.list-channel.is-light button:active,
.list-channel.is-light button:focus{
    border: 1px solid #2196f3!important;
}

.btn.btn-primary.btn-hasicon:focus,
.btn.btn-primary.btn-hasicon:hover,
.btn.btn-primary.btn-hasicon:active{
    border: 3px solid #10b7e7!important;
    outline: 0;
}

.btn.btn-primary.btn-hasicon{
    border: 3px solid #0058d2!important;
    width: auto;
}

.banner .container .col-md-6:first-of-type{
    position: absolute;
    height: 100%;

}

.banner{
    height: 500px;
    color: white;
}

.banner.is-light{
    background-color: #ffffff;
    height: auto;
    padding-top: 15px;
}

.banner.is-light h1{
    color: #0d3357;
    font-size: 60px;
}

.banner.is-light .h3{
    color: #999999;
    font-size: 33px;
    margin-top: 0;
}

.banner-bg-gradient{
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner-logo {
    width: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    top: 0;
}

.banner-thumb-nav{
    height: 550px;
    position: relative;
}

.thumb-nav-overlay{
    position: absolute;
    background-color: rgba(0,0,0,.8);
    height: 170px;
    padding: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    width: 100%;
}

.thumb-nav-overlay.is-transparent{
    background-color: transparent;
}

.thumb-nav-overlay img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    left: 0;
    right: 0;
}

.list-channel li{
    width: 20%;
    float: left;
    position: relative;
    padding: 10px;
}

.list-channel .list-channel-thumb{
    position: relative;
    padding-top: 80%;
}

.list-channel.is-light .list-channel-thumb{
    background-color: white;
    position: relative;
    overflow: hidden;
}

.list-channel.is-light .list-channel-thumb:before{
    content: '';
    background: rgb(227,227,227);
    background: -moz-linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(0,212,255,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(0,212,255,0) 100%);
    background: linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(0,212,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3e3e3",endColorstr="#00d4ff",GradientType=1);
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    bottom: 0;
}

.list-channel .list-channel-thumb img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 991px){

    .banner .container .col-md-6:first-of-type {
        position: relative;
        height: auto;
    }

    .banner-logo {
        position: static;
        margin: 0 auto 30px;
    }

    .banner .container .col-md-6:last-of-type{
        text-align: center;
    }

    .banner .container .col-md-6:last-of-type p{
        padding: 0 20px;
    }

    .banner {
        height: 400px;
        color: white;
    }

    .list-channel li {
        padding: 0;
    }

    .list-channel.p-10{
        padding: 5px!important;
    }

    .list-channel li {
        width: 25%;
    }

    .banner-thumb-nav {
        height: 350px;
    }

    .banner.is-light{
        text-align: center;
    }

    .banner.is-light h1 {
        font-size: 40px;
    }

    .banner.is-light .h3 {
        font-size: 30px;
    }

    .banner.is-light .col-md-12 button {
        margin-bottom: 30px;
    }

    .list-channel.is-light li {
        width: 25%;
        padding: 7px;
    }

}

@media screen and (max-width: 767px){

    .list-channel li {
        width: 33.333333%;
    }

    .list-channel.is-light li {
        width: 33.333333%;
        padding: 7px;
    }

    .banner.is-light .col-md-12 button {
        font-size: 20px!important;
    }

    .btn-hasicon .btn-label {
        background-size: 30px;
        padding-left: 40px;
    }

}

@media screen and (max-width: 580px){

    .list-channel li {
        width: 50%;
    }

    .banner .container .col-md-6:last-of-type p {
        padding: 0;
    }

    .list-channel.is-light li {
        width: 50%;
        padding: 7px;
    }

    .banner-thumb-nav {
        height: 240px;
    }

}
